.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 1rem;
    width: 100%;

    .stars{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .copyright{
        margin-top: 1rem;
        font-weight: 500;
    }
}