
$main-color: #1B3159;
$second-color:#E1C591;
$main-color-hover: #fd4e4e;
$text-primary: #151515;
$text-secondary: #444;
$primary-color: #fff;
$secondary-color: #999;
$color-text: #111;
$color-bg: #FCFBFA;
$color-link: #b19e7f;
$color-link-hover: #000;